

div{
    position: relative;

}

h1{
    color: white;
    background:  rgb(31, 158, 151);
    padding-left: 650px;
    padding-top: 60px;
    padding-bottom: 90px;
    position: relative;
    max-width: 100%;
   
}

img{
    width: 20%;
    top: -180px;
    position: relative;    
}

nav{
    background: rgb(31, 158, 151); 
    display: inline-block;
    color: white;
    left: 311px;
    top: -190px;
    text-decoration: none;
    padding-left: 150px;
    position: relative;


}



.todos{    
   
    color: white; 
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
    padding: 10px 20px;

}

.todos:hover{
    color:rgb(31, 158, 151);
    background: white; 
}


@media  (max-width: 870px){
    img{
        flex-direction: column;
        background: rgb(31, 158, 151);
        margin-bottom: 85px;
        width: 364px;
        
        
    }
    h1{
        color: white; font-size: 50px;
        background: rgb(31, 158, 151);
        display: inline-block;
        margin-left: -408px;
        padding-left: 62px;

        }

    .todos{
        
        display: block;
        flex-direction: column;
        color: white; 
        font-size: 20px;
        text-decoration: none;
        margin-left: -145px;
        padding-right: 0px;
        margin-top: 300px;

    }
    div{
        background: rgb(31, 158, 151); 
        display: inline-block;
        color: white;
        margin: 0 auto;
        
        
    }
 
    
}
@media  (max-width: 540px){
    img{
        flex-direction: column;
        background: rgb(31, 158, 151);
        margin-bottom: 67px;
        width: 364px;
        
        
    }
    h1{
        color: white; font-size: 50px;
        background: rgb(31, 158, 151);
        display: inline-block;
        margin-left: -0px;
        

        }

    .todos{
        
        display: block;
        flex-direction: column;
        color: white; 
        font-size: 20px;

    }
  

}


