body{
    background-color: black;
}
nav.navbar{
    background-color: rgb(31, 158, 151);
}
.nav-item{
    background-color: blanchedalmond;
    margin: 5%;
}
.hdr{
    color: black;
    margin: 2%;
    padding-top: 2%;
}
.flgr{
    margin: 1%;
}
.cizar{
    margin: 1%;
}
.cdear{
    margin: 1%;
}
.rcd{
    padding-top: 2%;
    margin: 2%;
}
#cuerpo{
    background-color: #FFFFFF;
    margin: 2%;
}
#btn2{
    background-color: black;
    color: blanchedalmond;
    
}