body{
    background-color: black;
}
nav.navbar{
    background-color: rgb(31, 158, 151);
}
.nav-item{
    margin: 2%;
}
.accordion.accordion-flush{
    margin-left: 20px;
    padding-left: 10px;
}
.flgr{
    margin: 2%;
}
.cizar{
    margin: 2%;
}
.cdear{
    margin: 2%;
}
.rcd{
    padding-top: 2%;
    margin: 2%;
}
input.buscar{
    background-color: blanchedalmond;
}
button.buscar{
    background-color: blanchedalmond;
}
li.regresar{
    background-color: blanchedalmond;
}

#cuerpo{
    background-color: #FFFFFF;
}
#btn2{
    background-color: black;
    color: blanchedalmond;
    
}