.main{
    background-color: rgb(186, 228, 215);
    width: 100%;
}
.navegacion{
    background-color: rgb(31, 158, 151);
    height: 30%;
}
img{
    padding-top: 2%;
    width: 20%;
    height: 20%;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.navMenu{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
li{
    padding: 15px;
}
.logo{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.regPed{
    color: rgb(0, 0, 0);
    border-bottom: 5px solid rgb(31, 158, 151);
}
.regInv{
    color: rgb(253, 248, 241);
    border-bottom: 5px solid rgb(31, 158, 151);
}
.regDesp{
    color: rgb(0, 0, 0);
    border-bottom: 5px solid rgb(31, 158, 151);
}
.regRep{
    color: rgb(253, 248, 241);
    border-bottom: 5px solid rgb(31, 158, 151);
}

.regPed:hover{
    color: black;
    border-bottom: 3px solid black;
}
.regInv:hover{
    color: black;
    border-bottom: 3px solid black;
}
.regDesp:hover{
    color: black;
    border-bottom: 3px solid black;
}
.regRep:hover{
    color: black;
    border-bottom: 3px solid black;
}

.sectionMain{
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin: 2rem;
}

.row1{
    justify-content: center;
    align-items: center;
    height: 90%;
    
}
.sectionIcon{
    font-size: 60px;
    height: 60px;
    padding:14px;
}


.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(175, 224, 142);
    -webkit-box-shadow: 3px 5px 14px 8px rgba(0,0,0,0.44); 
    box-shadow: 3px 5px 14px 8px rgba(0,0,0,0.44);
    margin: 1rem;
    color: rgb(102, 95, 65);
    height: 60%;
}

.operative{
    display: flex;
    padding: 10px;
    width: 80%;
    flex-direction: column;
    height: 400px;
    align-items: center;
}
