.main{
    background-color: rgb(186, 228, 215);
    width: 200vh;
}
.navegacion{
    background-color: rgb(31, 158, 151);
    height: 30%;
}
img{
    padding-top: 2%;
    width: 20%;
    height: 20%;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.navMenu{
    display: flex;
    flex-direction: row;
}
li{
    padding: 15px;
}
.regUser{
    color: rgb(253, 248, 241);
    border-bottom: 5px solid rgb(31, 158, 151);
}
.regPed{
    color: rgb(253, 248, 241);
    border-bottom: 5px solid rgb(31, 158, 151);
}
.regInv{
    color: rgb(253, 248, 241);
    border-bottom: 5px solid rgb(31, 158, 151);
}
.regProd{
    color: rgb(253, 248, 241);
    border-bottom: 5px solid rgb(31, 158, 151);
}
.regUser:hover{
    color: black;
    border-bottom: 3px solid black;
}
.regPed:hover{
    color: black;
    border-bottom: 3px solid black;
}
.regInv:hover{
    color: black;
    border-bottom: 3px solid black;
}
.regProd:hover{
    color: black;
    border-bottom: 3px solid black;
}
.info{
    display: flex;
    color: rgb(253, 248, 241);
    background-color: #00847e;
    height: 12%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sign-out{
    display: flex;
    color: rgb(247, 233, 214);
    text-align: center;
}

section{
    height: 80vh;
}

.infoSesion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoSesion-p1{
    margin-bottom: 0rem;
}
.infoSesion-p2{
    margin-bottom: 0rem;
}
.infoSesion-p3{
    margin-bottom: 0rem;
}

.infoSesion-p4{
    margin-bottom: 0rem;
}



.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00847e;
}
.left{

    display: flex;
    height: 100%;
    width: 33.3%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: ivory;
    
}
.center{
    display: flex;
    height: 100%;
    width: 33.3%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: ivory;
}
.right{
    display: flex;
    height: 100%;
    width: 33.3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: ivory;
}
.mainFoot{
    display: flex;
    justify-content: center;
    border-bottom: 5px solid tan;
    width: 300px;
}
.facebook{
    font-size: 30px;
    color: ivory;
    padding: 3px;
}
.linkedin{
    font-size: 30px;
    color: ivory;
    padding: 3px;
}
.twitter{
    font-size: 30px;
    color: ivory;
    padding: 3px;
}
.youtube{
    font-size: 30px;
    color: ivory;
    padding: 3px;
}
.instagram{
    font-size: 30px;
    color: ivory;
    padding: 3px;
}