.main{
    background-color: rgb(186, 228, 215);
}
.navegacion{
    background-color: rgb(31, 158, 151);
    height: 30%;
}
img{
    padding-top: 2%;
    width: 20%;
    height: 20%;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.navMenu{
    display: flex;
    flex-direction: row;
}
li{
    padding: 15px;
}
.regUser{
    color: rgb(253, 248, 241);
}
.regPed{
    color: rgb(253, 248, 241);
}
.regInv{
    color: rgb(253, 248, 241);
}
.regProd{
    color: rgb(253, 248, 241);
}
.regUser:hover{
    color: black;
    border-bottom: 3px solid black;
}
.regPed:hover{
    color: black;
    border-bottom: 3px solid black;
}
.regInv:hover{
    color: black;
    border-bottom: 3px solid black;
}
.regProd:hover{
    color: black;
    border-bottom: 3px solid black;
}