<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/x-icon" href="/resource/css/main/utils/naturana.png">
    <link rel="stylesheet" href="/resource/css/404/404.css">

</head>
<body>
    
    <div>
        <p class="titulo" >Error 404 <br> Este sitio no se ha encontrado</p>   
</div>
</body>
</html>