
/*cuerpo*/
body{
    width:100%;
    height:auto;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.table{
    display: block;
    padding: auto;
}
.contenedor{
    display:flow-root;
    margin: 40px;
    padding: 30px;
    width: 95%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    -webkit-box-shadow: 4px 7px 63px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 7px 63px 2px rgba(0,0,0,0.75);
    box-shadow: 4px 7px 63px 2px rgba(0,0,0,0.75);
}
table{
    display: flex;
    width: 80%;
    height: 100%;
}
.row{
    margin: 1.5%;
    padding: 1%;
    border-radius: 10px;
    border: 1.5px solid #042656;
}
.fila{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 1.5%;
    padding: 1%;
    border-radius: 10px;
    border: 1.5px solid #042656;
    width: 97%;
    height: 100%;
}
.fila1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 1.5%;
    padding: 1%;
    border-radius: 10px;
    border: 1.5px solid #042656;
    width: 97%;
    height: 100%;
}
.form-select{
    margin: 1.5%;
    padding: 1%;
    border-radius: 10px;;
}
.cajita{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


