<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/resource/css/inventario/inventario.css">
    <title>Inventario</title>
    
    <%- include ('../../template/head/head.ejs') %>


</head>
<body>
    
    <%- include ('../../template/header/header.ejs') %>

    
    <script>
        $(document).ready( function () {
        $('#table1').DataTable();
        } );
    </script>

<script>
    $(document).ready( function () {
    $('#table2').DataTable();
    } );
</script>
<div class="contenedor">    

    <table id='table1' class="table table-striped table-bordered table-lg" cellspacing="0" width="100%">
        <caption><h5>Inventario tienda</h5></caption>
        <thead>
            <tr>
                <th>Referencia</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Valor unitario</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Referencia</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Valor unitario</th>
            </tr>
        </tfoot>
    </table>

</div>

<div class="contenedor">
    
    <table id='table2' class="table table-striped table-bordered table-lg" cellspacing="0" width="100%">
        <caption><h5>Inventario Bodega</h5></caption>
        <thead>
            <tr>
                <th>Referencia</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Valor unitario</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Referencia</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Valor unitario</th>
            </tr>
        </tfoot>
    </table>

</div>
<div class="contenedor">

    <h5>Ingreso de existencias</h5>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Seleccione inventario</option>
            <option value="1">Tienda</option>
            <option value="2">Bodega</option>
          </select>

        <div class="row">

            <div class="col-1">
                <div class="cajita">
                    <img  src="/resource/css/inventario/utils/no-image-icon-23485.png" width="50" height="50">
                </div>

                <div class="cajita">
                    <button type="button" class="btn btn-primary btn-sm">Cargar Imagen</button>
                </div>
            </div>

            <div class="col-3">
                <label for="formGroupExampleInput" class="form-label fw-bolder">Nombre producto </label>
                <input type="text" class="form-control" id="id" placeholder="Nombre producto" aria-label="First name">
            </div>

            <div class="col-3">
                <label for="formGroupExampleInput" class="form-label fw-bolder">Cantidad </label>
                <input type="text" class="form-control" id="id" placeholder="Nombre producto" aria-label="First name">
            </div>

            <div class="col-3">
                <label for="formGroupExampleInput" class="form-label fw-bolder">Descripción </label>
                <input type="text" class="form-control" id="id" placeholder="Nombre producto" aria-label="First name">
            </div>

        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button">Ingresar</button>
            <a href="/main" class="btn btn-primary formulario__btn2" >Regresar</a>
        </div>

</div>

    <%- include("../../template/footer/footer.ejs") %> 
</body>
</html>
