<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/resource/css/main/main.css">
        <link rel="shortcut icon" type="image/x-icon" href="/resource/css/main/utils/naturana.png">
        <title>Main</title>

        <%- include ('./template/head/head.ejs') %>
    </head>
<body class="main">
    <%- include ('./template/header/header.ejs') %>

    <nav class="navegacion">
        <div class="d-flex justify-content-around">
            <img class='logo' src="/resource/css/main/utils/naturana0.png" width="150" height="75">
            <nav class="navMenu">
                <div class="menu">
                    <ul class="nav">
                        <div class="dropdown nav-item ">
                            <a style="color:white;" class="nav-link active fs-4 fw-bold regInv dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                              Ventas
                            </a>
                          
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li class="nav-item">
                                    <a class="nav-link fs-4 fw-bold regPed" href="/pedido">Pedidos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active fs-4 fw-bold regDesp"
                                        aria-current="page" href="/despacho">Despachos</a>
                                </li>
                            </ul>
                          </div>

                        <li class="nav-item">
                            <a style="color:white;" class="nav-link active fs-4 fw-bold regInv"
                                aria-current="page" href="/insumo">Inventario</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:white;" class="nav-link fs-4 fw-bold regRep" href="/reporte">Reportes/BD</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </nav>

    <section class="sectionMain">
        <div class="row row1">

            <div class="col">
                <i class="fas fa-address-card sectionIcon"></i>
                <div class="card-body">
                  <h5 class="card-title">Registrar
                    empleado</h5>
                  <p class="card-text">En esta vista se registran los datos de los nuevos empleados.</p>
                  <a href="/usuario" class="btn btn-secondary">Registrar</a>
                </div>
            </div>

            <div class="col">
                <i class="fas fa-key sectionIcon"></i>
                <div class="card-body">
                  <h5 class="card-title">Cambiar/Mostrar contraseña</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-secondary">Editar</a>
                </div>
            </div>

            <div class="col">
                <i class="fas fa-file-signature sectionIcon"></i>
                <div class="card-body">
                  <h5 class="card-title">Lista de cuenta cobro</h5>
                  <p class="card-text">En esta vista se visualiza toda la facturación.</p>
                  <a href="/listaCc" class="btn btn-secondary">Ver</a>
                </div>
            </div>

            <!--div class="col">
                <i class="fas fa-database sectionIcon"></i>
                <div class="card-body">
                  <h5 class="card-title">Editar Inventario</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-secondary">Editar</a>
                </div>
            </div-->

        </div>

    </section>

    <%- include("./template/footer/footer.ejs") %> 


</body>
</html>
