<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resource/css/main/main.css">
    <title>Main</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        crossorigin="anonymous"
    >
    <script src="https://kit.fontawesome.com/a741909309.js" crossorigin="anonymous"></script>
</head>
<body class="main">

    <div class="info">
        <div class="px-5">
            <p><i class="fas fa-map-marker-alt px-1"></i> Medellin - (Antioquia)</p>
        </div>
        <div class="px-5">
            <p> <i class="fas fa-inbox px-1"></i> productosnaturana@gmail.com </p>
        </div>
        <div class="px-5">
            <p></i><i class="fas fa-phone px-1"></i> +57 311 3697489</p>
        </div>
        <div class="sign-out">
            <a class="btn btn-secondary" href="/login"><p ><i class="fas fa-sign-out-alt"></i> Cerrar sesion</p></a>
        </div>
    </div>

    <nav class="navegacion">
        <div class="d-flex justify-content-around">
            <img src="/resource/css/main/utils/naturana.png" alt="">
            <nav class="navMenu">
                <div class="menu">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active fs-4 fw-bold regUser"
                                aria-current="page" href="./ventanas/usuario/registrarusuario.html">Registrar
                                Usuario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-4 fw-bold regPed" href="./ventanas/pedido/registrarpedido.html">Registrar
                                pedido</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-4 fw-bold regInv" href="./ventanas/inventario/registrarinventario.html">Agregar
                                inventario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-4 fw-bold regProd" href="./ventanas/producto/registrarproducto.html">Registrar
                                producto</a>
                        </li>
                    </ul>
                </div>
            </nav>
    </nav>
    
    <section>
    </section>
    

    <footer class="footer">
        <div class="left">
            <p class="fs-5">Condiciones de uso de la web</p>
            <p class="fs-5">Política de privacidad</p>
            <p class="fs-5">Política de cookies</p>
        </div>
        <div class="center"> 
            <p class= "fw-bolder fs-1 mainFoot">Naturana</p>
            <div class="redesfoot">
                <a href="https://www.facebook.com"><i class="fab fa-facebook-square facebook"></i></a>
                <a href="https://twitter.com"><i class="fab fa-twitter-square twitter"></i></a>
                <a href="https://www.linkedin.com"><i class="fab fa-linkedin linkedin"></i></a>
                <a href="https://www.instagram.com"><i class="fab fa-instagram instagram"></i></a>
                <a href="https://www.youtube.com"><i class="fab fa-youtube youtube"></i></a>
            </div>
        </div>
        <div class="right">
            <p class="fs-5">Naturana</p>
            <p class="fs-5">Blog</p>
            <p class="fs-5">Contact</p>
            <p class="fs-5">FAQs</p>
        </div>
    </footer>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        crossorigin="anonymous">
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous">
    </script>
</body>
</html>