.regresar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.dataTables_wrapper{
    margin: 30px;
}
.btn{
    margin: 10px;
}

.footer1{
    position: absolute;
    bottom: 0;
    width: 100%;
    }