.contenedor-titulo{
    margin-top: 8vh;
    margin-bottom: 5vh;
}
.contenedor{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 30px;
    background-color: rgb(137, 209, 185);
}

.forCotn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(249, 242, 255);
    border-radius: 30px;
    -webkit-box-shadow: 4px 7px 63px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 7px 63px 2px rgba(0,0,0,0.75);
    box-shadow: 4px 7px 63px 2px rgba(0,0,0,0.75);
    height: 80%;
    width: 65%;
}
.dataInfoP{
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    color:#042656 ;
}
.colL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4.5%;
}
.colR{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 3px solid #042656;
}
.row{
    width: 80%;
}

.formBuscCliente{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(249, 242, 255);
    border-radius: 30px;
    -webkit-box-shadow: 4px 7px 63px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 7px 63px 2px rgba(0,0,0,0.75);
    box-shadow: 4px 7px 63px 2px rgba(0,0,0,0.75);
    flex-direction: column;
    margin-bottom: 20vh;
    width: 65%;
    
}
.container-fluid{
    background-color: rgb(249, 242, 255);
}
.navbar{
    padding-bottom: 0rem;
    padding-top: 0rem;
}
.formBuscCliente-busc{
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: rgb(249, 242, 255);
    padding: 0rem;
}

.formBuscCliente-table{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.formBuscProd-busc{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.formBuscProd-table{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.formBuscProd{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(249, 242, 255);
    border-radius: 30px;
    -webkit-box-shadow: 4px 7px 63px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 7px 63px 2px rgba(0,0,0,0.75);
    box-shadow: 4px 7px 63px 2px rgba(0,0,0,0.75);
    margin-bottom: 20vh;
    flex-direction: column;
    width: 65%;
}
