
    <link rel="stylesheet" href="/resource/css/header/header.css">
    <div class="info">
        <div class="px-5">
            <p class="infoSesion-p1"><i class="fas fa-map-marker-alt px-1"></i> Medellin - (Antioquia)</p>
        </div>
        <div class="px-5">
            <p class="infoSesion-p2"> <i class="fas fa-inbox px-1"></i> productosnaturana@gmail.com </p>
        </div>
        <div class="px-5">
            <p class="infoSesion-p3"></i><i class="fas fa-phone px-1"></i> +57 311 3697489</p>
        </div>
        <div class="infoSesion px-5 fs-5 fw-bold">
            <p class="infoSesion-p4">Bienvenido a Naturana: <%=firstName%> <%=lastName%> <i class="fas fa-check-circle"></i></p>
        </div> 
        <form class="sign-out px-5" action="/session-out" method="POST">
            <button class="btn btn-secondary" type="submit">  Cerrar sesion</button>
        </form>
    </div>