/* Global */

/*nav*/
.navegacion{
    background-color: rgb(31, 158, 151);
    height: 30%;
}
.navMenu{
    display: flex;
    flex-direction: row;
}

/*form*/
.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: rgb(249, 242, 255);
    border-radius: 30px;
    -webkit-box-shadow: 4px 7px 63px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 7px 63px 2px rgba(0,0,0,0.75);
    box-shadow: 4px 7px 63px 2px rgba(0,0,0,0.75);
    height: 80%;
    width: 65%;
    padding: 30px;
}

/*Cuadricula y colores*/
.formulario__label{
    display: block;
    font-weight: 100;
    padding: 10px;
    cursor: pointer;
}
.formulario__grupo-input{
    position: relative;
    margin: 20px 20px;
}
.formulario__input{
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario__input:focus{
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);

}
.formulario__grupo-btn-registrar,
.formulario__mensaje,
.subtitulo{
    grid-column: span 3;
    align-items: center;
    justify-content: center;
}
.subtitulo{
    margin: 20px 0 20px 0;
}
/*estilo*/
.formulario__grupo-btn-registrar,
.subtitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario__btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    margin: 0 5px;
}
.formulario__btn:hover{
box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}
.formulario__btn2{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: rgb(31,158,151);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    margin: 0 5px 10px;
}
.formulario__btn2:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

/*Validaciones pasivas*/
.formulario__input-error{
    font-size: 8px;
    margin-bottom: 0;
    display: none;
    margin: 2px;
}
.formulario__input-error-activo{
    display: block;
}
.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}
.formulario__mensaje{
    margin-top: 40px;
    line-height : 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;    
    display: none;
}
.formulario__mensaje-activo{
    display: block;
}
.formulario__mensaje p {
    margin: 0;
}
/*validaciones activas*/

.formulario__mensaje-exito{
    font-size: 14px;
    color: #119200;
    display: none;
}
.formulario__mensaje-exito-activo{
display: block;
}
.formulario__grupo-correcto .formulario__validacion-estado{
    color: #1ee148;
    opacity: 1;
    }
    
    .formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #bb2929;
    opacity: 1;
    }
    .formulario__grupo-incorrecto .formulario__label{
        color: #bb2929;
        opacity: 1;
    }
    .formulario__grupo-incorrecto .formulario__input{
        border: 3px solid #bb2929;
    }

    /*---------------Mediaquery---------*/
@media screen and (max-width: 800px){
    .formulario{
        grid-template-columns: 1fr;
    }
    .subtitulo,
.formulario__grupo-btn-registrar,
.formulario__mensaje,
.formulario__grupo-terminos,
.btn-primary{
    grid-column: 1;
}
.formulario__btn, .formulario__btn2{
    width: 90%;
}
}
